<!-- The Top Bar -->

<header id="topbar-wrapper" class="flex-shrink-0" aria-label="Top Bar">
  <div
    id="topbar"
    class="d-flex align-items-center justify-content-between px-lg-3 h-100"
  >

<div style="display: flex; align-items: center; gap: 0.5rem;">

  <a class="text-muted text-decoration-none d-inline-flex align-items-center"
     style="gap: 0.35rem;"
     href="{{ '/rss/' | relative_url }}"
     aria-label="RSS"
     title="RSS">
    <i class="fas fa-rss fa-fw"></i>
    <span>Subskrybuj RSS</span>
  </a>

  <span class="text-muted">•</span>

  <a class="text-muted text-decoration-none d-inline-flex align-items-center"
     style="gap: 0.35rem;"
     href="{{ '/newsletter/' | relative_url }}"
     aria-label="Newsletter"
     title="Newsletter">
    <i class="fas fa-newspaper fa-fw"></i>
    <span>Zapisz się na Newsletter</span>
  </a>

</div>

    <button type="button" id="sidebar-trigger" class="btn btn-link" aria-label="Sidebar">
      <i class="fas fa-bars fa-fw"></i>
    </button>

    <button type="button" id="search-trigger" class="btn btn-link" aria-label="Search">
      <i class="fas fa-search fa-fw"></i>
    </button>

    <search id="search" class="align-items-center ms-3 ms-lg-0">
      <i class="fas fa-search fa-fw"></i>
      <input
        class="form-control"
        id="search-input"
        type="search"
        aria-label="search"
        autocomplete="off"
        placeholder="{{ site.data.locales[include.lang].search.hint | capitalize }}..."
      >
    </search>
    <button type="button" class="btn btn-link text-decoration-none" id="search-cancel">
      {{- site.data.locales[include.lang].search.cancel -}}
    </button>
  </div>
</header>
